%nav#home-site
	#logo
		= image_tag 'logos/linuxfr_ayo_grey_scale.svg'
		#site-name.active
			#head-site-name LinuxFr
			#tld-site-name .org

	#links
		= link_to "Actualités", '/news', title: "Actualités, événements et autres nouveautés"
		= link_to "Blogs", '/journaux', title: "Blogs personnels de nos visiteurs"
		= link_to "Liens", '/liens', title: "Liens remarquables"
		= link_to "Forums", '/forums', title: "Questions‑réponses, petites annonces"
		= link_to "Wiki", '/wiki', title: "Pages wiki"
		= link_to "Rédaction", '/redaction', title: "Participez à la rédaction des dépêches"
		= link_to image_tag('icones/glass_white.svg'), 'https://google.com?q=site%3Alinuxfr.org', title: "Rechercher", :id => "site-links-search-glass"

	#sign-about
		= link_to "Se connecter", '/compte/connexion'
		= link_to "En savoir plus", '/informations', :id => 'site-about'
