<!DOCTYPE html>
%html#home(lang="fr")
  = render 'layouts/head'
  %body{body_attr}
    = render 'header'
    %main
      = yield :layout
    = render 'footer'
    = javascript_include_tag "application"
